p{
    padding: 10px;
    border-width: 5px;
    border-color: red;
    border-style: solid;
    border-radius: 10px;
}
p{
    border-width: 10px 5px 2px 10px;
    border-color: red green blue black;
    border-radius: 10px 20px 20px 5px;
    border-style: ridge;
}
p{
    /* Epessura Cor Estilo de Borda*/
    border: 3px navy solid;
    border-radius: 10px;
}