*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 100%;
    height: 350px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.word{
    margin: 10px;
    word-spacing: 30px;
}
.amarelo{
    margin-top: 50px;
    color: orange;
    margin-bottom: 10px;
}

.info{
    width: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    color: black;
    background-color: orange;
    border: 1px ridge orange;
    border-radius: 5px;
    font-size: 10px;
}
.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h2{
    padding-left: 10px;
    margin: auto;
}

.conteudo{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.conteiner{
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-top: 20px;
    
    width: 280px;
    height: 120px;
    padding: 12px;
    border: 2px solid black;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 2px 2px;
    margin: 20px;
}

.tabela{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.tabela th{
    background-color: brown;
}

.video{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.novidades{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.skibd{
    width: 280px;
    height: auto;
    padding: 12px;
    border: 2px solid black;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 2px 2px;
    margin: 20px;
}    
