*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 640px;
    margin: 5px;
    padding: 10px;
    background-color: navy;
}

.item{
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: brown;
    text-align: center;
    color: aliceblue;
}

.sem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.com{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.repeat{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}