a{
    background-color: blue;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    background-color: aqua;
    text-decoration: underline;
}