*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.float-left{
    float: left;
    width: 200px;
    height: 100px;
    background-color: aqua;

}
.float-rigth{
    float: right;
    width: 200px;
    height: 100px;
    background-color: blue;
}
.no-float{
    float: none;
    width: 100%;
    background-color: antiquewhite;

}
.clear{
    clear: both;
    background-color: aquamarine;
}