*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    padding: 10px;
    width: 1000px;
    height: 400px;
}

.bloco-esquerdo{
    background-color: red;
    width: 200px;
    height: 200px;
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bloco-direito{
    background-color: blue;
    width: 200px;
    height: 200px;
    float: right;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.texto-final{
    background-color: green;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    clear: both;
}