form {
    width: 400px;
    background-color: rgb(235, 235, 235);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #5b5b5b;

}
label{
    display: block;
    margin-top: 8px
}
body{
    display: inline-block;
    margin: 400px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}