*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.largura-total{
    background-color: red;
    color: aliceblue;
    padding: 20px;
    width: 100vw;

}

.largura-metade{
    background-color: coral;
    color: aliceblue;
    padding: 20px;
    width: 50vw;

}

.altura-total{
    background-color: brown;
    color: aliceblue;
    padding: 20px;
    height: 100vh;
}

.altura-metade{
    background-color: blueviolet;
    color: aliceblue;
    padding: 20px;
    height: 50vh;
}